{% if form is defined %}
    {% form_theme form 'BlackAdminBundle:AdminForm:fields.html.twig' %}
{% endif %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set user = app.security.token.user %}
{% set name = user.username is defined ? user.username : '' %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <title>{% block title %}{% trans from "views" %}black.bundle.admin.base.title.text{% endtrans %}{% endblock %}</title>

    {#  Import CSS  #}
    {% stylesheets 'admin/css/styles.css' filter="cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen, projection"/>
    {% endstylesheets %}

    {% stylesheets 'admin/css/ie.css' filter="cssrewrite" %}
    <!--[if IE]>
    <link href="{{ asset_url }}" rel="stylesheet" media="screen, projection"/> <![endif]-->
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>

<body class="container">
{% block body %}
{% endblock body %}

{% javascripts
'@BlackAdminBundle/Resources/public/js/jquery.slugify.js'
'admin/js/plugins/forms/jquery.mousewheel.js'
'//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
'admin/js/plugins/charts/excanvas.min.js'
'admin/js/plugins/charts/jquery.flot.js'
'admin/js/plugins/charts/jquery.flot.orderBars.js'
'admin/js/plugins/charts/jquery.flot.pie.js'
'admin/js/plugins/charts/jquery.flot.resize.js'
'admin/js/plugins/charts/jquery.sparkline.min.js'
'admin/js/plugins/tables/jquery.dataTables.js'
'admin/js/plugins/tables/jquery.sortable.js'
'admin/js/plugins/tables/jquery.resizable.js'
'admin/js/plugins/forms/jquery.uniform.js'
'admin/js/plugins/forms/jquery.inputlimiter.min.js'
'admin/js/plugins/forms/jquery.tagsinput.min.js'
'admin/js/plugins/forms/jquery.maskedinput.min.js'
'admin/js/plugins/forms/jquery.autotab.js'
'admin/js/plugins/forms/jquery.dualListBox.js'
'admin/js/plugins/forms/jquery.cleditor.js'
'admin/js/plugins/forms/jquery.ibutton.js'
'admin/js/plugins/forms/jquery.validationEngine-en.js'
'admin/js/plugins/forms/jquery.validationEngine.js'
'admin/js/plugins/uploader/plupload.js'
'admin/js/plugins/uploader/plupload.html4.js'
'admin/js/plugins/uploader/plupload.html5.js'
'admin/js/plugins/uploader/jquery.plupload.queue.js'
'admin/js/plugins/wizards/jquery.form.wizard.js'
'admin/js/plugins/wizards/jquery.validate.js'
'admin/js/plugins/wizards/jquery.form.js'
'admin/js/plugins/ui/jquery.collapsible.min.js'
'admin/js/plugins/ui/jquery.breadcrumbs.js'
'admin/js/plugins/ui/jquery.tipsy.js'
'admin/js/plugins/ui/jquery.progress.js'
'admin/js/plugins/ui/jquery.timeentry.min.js'
'admin/js/plugins/ui/jquery.colorpicker.js'
'admin/js/plugins/ui/jquery.jgrowl.js'
'admin/js/plugins/ui/jquery.fancybox.js'
'admin/js/plugins/ui/jquery.fileTree.js'
'admin/js/plugins/ui/jquery.sourcerer.js'
'admin/js/plugins/others/jquery.fullcalendar.js'
'admin/js/plugins/ui/jquery.easytabs.min.js'
'admin/js/files/bootstrap.js'
'@BlackAdminBundle/Resources/public/js/functions.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}
</body>

</html>

