<!-- Breadcrumbs line -->
<div class="breadLine">
    <div class="bc">
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a href="{{ url('admin_index') }}">Dashboard</a></li>
        </ul>
    </div>
</div>