<!-- Breadcrumbs line -->
<div class="breadLine">
    <div class="bc">
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a href="{{ url('admin_index') }}">{% trans %}admin.dashboard.title{% endtrans %}</a></li>
        </ul>
    </div>
</div>