<!-- Secondary nav -->
<div class="secNav">
    <div class="secWrapper">
        <div class="secTop">
            <div class="balance">
                <div class="balInfo">{% trans %}admin.dashboard.title{% endtrans %}</span></div>
            </div>
        </div>

        <!-- Tabs container -->
        <div id="tab-container" class="tab-container">
            <ul class="iconsLine ic3 etabs" style="display: none;">
                <li><a href="#general" title=""><span class="icos-fullscreen"></span></a></li>
                <li><a href="#alt1" title=""><span class="icos-user"></span></a></li>
                <li><a href="#alt2" title=""><span class="icos-archive"></span></a></li>
            </ul>

            <div class="divider"><span></span></div>

            <div id="general">
                <ul class="subNav">
                    <li><a href="ui.html" title="" class="this"><span class="icos-fullscreen"></span>{% trans %}admin.dashboard.title{% endtrans %}</a></li>
                </ul>
            </div>

            <div class="divider"><span></span></div>

            <div class="sidePad">
                <a href="{{ path('admin_person_new') }}" title="" class="sideB bGreen">{% trans %}admin.dashboard.create.person{% endtrans %}</a>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
</div>
<!-- Sidebar ends -->