{#  Secondary nav  #}
<div class="secNav">
    <div class="secWrapper">
        <div class="secTop">
            <div class="balance">
                <div class="balInfo">{% trans from "views" %}
                    black.bundle.admin.admin.secondaryNav.dashboard.text{% endtrans %}</span></div>
            </div>
        </div>

        {#  Tabs container  #}
        <div id="tab-container" class="tab-container">
            <ul class="iconsLine ic3 etabs" style="display: none;">
                <li><a href="#general" title=""><span class="icos-fullscreen"></span></a></li>
                <li><a href="#alt1" title=""><span class="icos-user"></span></a></li>
                <li><a href="#alt2" title=""><span class="icos-archive"></span></a></li>
            </ul>

            <div class="divider"><span></span></div>

            <div id="general">
                <ul class="subNav">
                    <li><a href="{{ path('admin_index') }}"
                           title="{% trans from "views" %}black.bundle.admin.admin.secondaryNav.dashboard.a.title{% endtrans %}"
                           class="this"
                           title="{% trans from "views" %}black.bundle.admin.admin.secondaryNav.dashboard.a.title{% endtrans %}">
                            <span class="icos-fullscreen"></span>{% trans from "views" %}
                            black.bundle.admin.admin.secondaryNav.dashboard.a.text{% endtrans %}</a></li>
                </ul>
            </div>

            <div class="divider"><span></span></div>

            <div class="sidePad">
                <a href="{{ path('admin_person_new') }}"
                   title="{% trans from "views" %}engine.admin.secondaryNav.person.create.a.title{% endtrans %}"
                   class="sideB bGreen">{% trans from "views" %}
                    black.bundle.admin.admin.secondaryNav.person.create.a.text{% endtrans %}</a>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
</div>
{#  Sidebar ends  #}