<div id="sidebar">
    <div class="mainNav">
        <div class="user">
            <a title="" class="leftUserDrop">
                {% if app.security.getToken().getUser().getPerson().getImage() is defined %}
                <img src="/bundles/blackadmin/images/user.png" alt="" />
                {% else %}
                <img src="/bundles/blackadmin/images/userLogin2.png" alt="" width="72" height="70" />
                {% endif %}
            </a>
            <span>{{ app.user.username }}</span>
            <ul class="leftUser">
                <li><a href="{{ url('admin_logout') }}" title="{% trans from "views" %}admin.admin.sidebar.logout.a.title{% endtrans %}" class="sLogout">{% trans from "views" %}admin.admin.sidebar.logout.a.text{% endtrans %}</a></li>
            </ul>
        </div>

        {#  Responsive nav  #}
        <div class="altNav">
            <div class="userSearch">
                <form action="">
                    <input type="text" placeholder="search..." name="userSearch" />
                    <input type="submit" value="" />
                </form>
            </div>

            {#  User nav  #}
            <ul class="userNav">
                <li><a href="{{ url('admin_logout') }}" title="{% trans from "views" %}admin.admin.sidebar.logout.a.title{% endtrans %}" class="logout">{% trans from "views" %}admin.admin.sidebar.logout.a.text{% endtrans %}</a>
            </ul>
        </div>

        {#  Main nav  #}
        <ul class="nav">
            {% include 'BlackAdminBundle:Admin:mainNav.html.twig' with {
                'a_route': 'admin_index',
                'a_text': 'admin.admin.mainNav.dashboard.a.text',
                'a_title': 'admin.admin.mainNav.dashboard.a.title',
                'img_alt': 'admin.admin.mainNav.dashboard.img.alt',
                'img_path': 'dashboard.png'
            } only %}
            {% include 'BlackAdminBundle:Admin:mainNav.html.twig' with {
                'a_route': 'admin_persons',
                'a_text': 'engine.admin.mainNav.person.a.text',
                'a_title': 'engine.admin.mainNav.person.a.title',
                'img_alt': 'engine.admin.mainNav.person.img.alt',
                'img_path': 'ui.png'
            } only %}
            {% include 'BlackAdminBundle:Admin:mainNav.html.twig' with {
                'a_route': 'admin_config',
                'a_text': 'engine.admin.mainNav.config.a.text',
                'a_title': 'engine.admin.mainNav.config.a.title',
                'img_alt': 'engine.admin.mainNav.config.img.alt',
                'img_path': 'other.png'
            } only %}
        </ul>
    </div>