{% form_theme form 'BlackAdminBundle:AdminForm:fields.html.twig' %}
{% set title = title is defined ? title : "admin.admin.fieldset.title.default" %}

<fieldset>
    <div class="widget">
        <div class="whead"><h6>{{ title|trans({}, "views") }}</h6><div class="clear"></div></div>
        {% for input in form %}
            {{ form_rest(form) }}
        {% endfor %}
    </div>
</fieldset>

{{ elfinder_tinymce_init4() }}
{{ tinymce_init() }}